<br>
<h2>Dashboard</h2>
{{new-post savePost="savePost"}}
<div>
  {{#each model as |book|}}
    {{admin-post book=book update="update" destroyPost="destroyPost" savePost="savePost"}}
  {{/each}}
</div>
