<header>
   <div class="nav">
    <div class="row">
      {{nav-button}}
      <div class="col-md-4">
        <h3>ADICHIE</h3>
      </div>
      <div class="icons col-md-4">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-pinterest" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="navContents">
    <ul class="sidebar-nav">
      {{close-button}}
      <br>
      <li class="sidebar-brand">
        <a href="#">HOMEPAGE</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
      <li class="adminNav">
        <i class="fa fa-cogs" aria-hidden="true"></i><a href="#">  ADMIN</a>
      </li>
    </ul>
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
