<header>
   <div class="nav">
    <div class="row">
      {{nav-button}}
      <div class="col-md-4">
        {{#link-to 'index'}}<h3 class="header-title">ADICHIE</h3>{{/link-to}}
      </div>
      <div class="icons col-md-4">
        <a href="https://www.facebook.com/chimamandaadichie/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="https://twitter.com/AdichieSpeaks" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href="http://chimamanda.com/" target="_blank"><i class="fa fa-chrome" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/chimamanda.adichie/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="navContents">
      {{nav-contents}}
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
