<header>
   <div class="nav">
    <div class="row">
      {{nav-button}}
      <div class="col-md-4">
        {{#link-to 'index'}}<h3>ADICHIE</h3>{{/link-to}}
      </div>
      <div class="icons col-md-4">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-pinterest" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="navContents">
      {{nav-contents}}
  </div>
</header>
<div class="container">
  {{outlet}}
</div>
